/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */

clr-tabs::ng-deep .tab-content clr-radio-wrapper {
  position: relative;
  left: 20px;
  top: 20px;
  width: 200px;
}
clr-tabs::ng-deep .tab-content clr-radio-wrapper:nth-of-type(2) {
  top: 105px;
}
clr-tabs::ng-deep .tab-content .period {
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
}
clr-tabs::ng-deep .tab-content .period clr-radio-wrapper {
  top: 0px;
}
clr-tabs::ng-deep .tab-content .period .content input {
  text-align: center;
  margin-right: 8px;
  border: none;
  background: #fff;
  outline: none;
  color: #333;
  border-bottom: 1px solid #666;
}
clr-tabs::ng-deep .tab-content .period .content input:disabled {
  cursor: not-allowed;
}
clr-tabs::ng-deep .tab-content .period .content input.width-30 {
  width: 30px;
}
clr-tabs::ng-deep .tab-content .period .content input.width-60 {
  width: 60px;
}
clr-tabs::ng-deep .tab-content .cycle {
  display: flex;
  align-items: center;
  position: relative;
  top: 80px;
}
clr-tabs::ng-deep .tab-content .cycle clr-radio-wrapper {
  top: 0px;
}
clr-tabs::ng-deep .tab-content .cycle.specify-week {
  top: 95px;
}
clr-tabs::ng-deep .tab-content .cycle .content input {
  text-align: center;
  margin-right: 8px;
  border: none;
  background: #fff;
  outline: none;
  color: #333;
  border-bottom: 1px solid #666;
}
clr-tabs::ng-deep .tab-content .cycle .content input:disabled {
  cursor: not-allowed;
}
clr-tabs::ng-deep .tab-content .cycle .content input.width-30 {
  width: 30px;
}
clr-tabs::ng-deep .tab-content .cycle .content input.width-60 {
  width: 30px;
}
clr-tabs::ng-deep .tab-content .specify-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-left: 20px;
  width: 700px;
}
clr-tabs::ng-deep .tab-content .specify-content clr-checkbox-wrapper {
  width: 100px;
}
table.table {
  margin-top: 120px;
  margin-left: 20px;
}
