/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */

.card {
  min-height: 100vh;
  overflow: auto;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content .clr-form-control label {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content .clr-form-control input {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content h4 {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper {
  background-color: gray;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column {
  background-color: #1C2A32 !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex button,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex button,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex span,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex span {
  color: #fff !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex button cds-icon,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex button cds-icon,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex span cds-icon,
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-outer-wrapper .datagrid .datagrid-table-wrapper .datagrid-column .datagrid-column-flex span cds-icon {
  color: #fff !important;
  position: relative;
  top: -3px;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-footer {
  background-color: #1C2A32 !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-footer clr-dg-page-size {
  color: #fff !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-footer clr-dg-page-size .clr-select-wrapper select {
  color: #fff !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-footer .pagination-description {
  color: #fff !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-placeholder {
  background-color: #1C2A32 !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-row .datagrid-row-sticky {
  background-color: #1C2A32;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-row .datagrid-row-sticky .datagrid-detail-caret-icon {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid .datagrid-row clr-dg-cell {
  background-color: #1C2A32 !important;
  color: #fff !important;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-detail {
  background-color: #1C2A32 !important;
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-panel-inactive .clr-accordion-content clr-datagrid clr-dg-detail h5 {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-header .clr-accordion-title {
  color: #fff;
}
.card clr-accordion ::ng-deep .clr-accordion-header .clr-accordion-angle {
  color: #fff;
}
.card clr-accordion ::ng-deep .list.warp-1 {
  padding: 20px 10px;
}
.card clr-accordion ::ng-deep .list.warp-1 li {
  margin: 10px;
  color: #fff;
}
.card clr-accordion ::ng-deep .list.warp-1 li b {
  font-size: 14px;
  margin-right: 10px;
}
.card clr-accordion ::ng-deep .list.warp-1 li span {
  font-size: 12px;
}
