/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */

clr-vertical-nav {
  height: cale(40vh);
}
clr-vertical-nav::ng-deep .nav-content .nav-group .nav-group-text {
  color: #fff;
}
clr-vertical-nav::ng-deep .nav-link .nav-text {
  color: #fff;
}
