/*
 * Copyright 2022 VMware, Inc.
 * SSPDX-License-Identifier: Apache-2.0
 */
.time-container {
  position: relative;
}
.time-container .show-time {
  width: 88px;
  position: relative;
  margin-top: 8px;
  padding-left: 5px;
  border-bottom: 1px solid #fff;
  margin-bottom: 2px;
}
.time-container .show-time div {
  color: #fff;
}
.time-container .show-time .clock,
.time-container .show-time .times {
  position: absolute;
  right: 10px;
  top: 5px;
  color: hsl(198, 100%, 32%);
}
.time-container .drow-content {
  position: absolute;
}
.time-container .drow-content .time-list {
  display: flex;
}
.time-container .drow-content .time-list ul {
  list-style: none;
  height: 200px;
  width: 44px;
  overflow: auto;
}
.time-container .drow-content .time-list ul li {
  position: relative;
}
.time-container .drow-content .time-list ul li span {
  display: block;
  width: 44px;
  height: 28px;
  line-height: 28px;
  padding-left: 14px;
  cursor: pointer;
  border-right: 1px solid #ddd;
  color: #fff;
}
.time-container .drow-content .time-list ul li span:last-of-type {
  border-bottom: 1px solid #ddd;
}
.time-container .drow-content .time-list ul li span.active {
  background-color: hsl(198, 80%, 46%);
  color: #fff;
}
.time-container .drow-content .time-list .list-sc::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.time-container .drow-content .btns {
  width: 88px;
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
}
.time-container .drow-content .btns button {
  border: none;
  outline: none;
  cursor: pointer;
}
.time-container .drow-content .btns button.now {
  color: hsl(198, 80%, 46%);
}
.time-container .drow-content .btns button.ok {
  background-color: #ddd;
  opacity: 0.6;
}
.time-container .drow-content .btns button.ok.active {
  background-color: hsl(198, 80%, 46%);
  color: #fff;
  opacity: 1;
}
